.movie-item {
  position: relative;
}

.movie-title {
  left: 0;
  bottom: 0;
  opacity: 0;
  width: 100%;
  color: #fff;
  padding: 10px;
  position: absolute;
  text-align: center;
  transition: opacity 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.7);
}

.movie-item:hover .movie-title {
  opacity: 1;
}

.movie-item img {
  transition: transform 0.3s ease;
}

.movie-item:hover img {
  transform: scale(1.1);
}
